
body{
    display: flex;
    flex-direction :column;
    height: 100vh;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    background-color: red;
    align-items: center;
}
nav{
    width: 100%;
}
nav h3{
    text-align: center;
}
nav ul{
    display: flex;
    padding: 30px;
}
nav ul ol{
    display: flex;
    border: 1px solid black;
    flex-grow: 1;
    justify-content: space-around;
}
.container{
    height: 90vh;
    display: flex;
    background-color: orange;
}
.yellow{
    background-color: yellow;
    flex-shrink: 1;
    flex-grow: 1;
}
.blue{
    background-color: #47cbf9;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-around;
}
p{
    margin: 10px;
    padding: 10px;
    flex: 1 1 45%;
}
.magenta{
    background-color: #b78d8d;
    flex-grow: 1;
}
footer{
    background-color: #a4f356;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 10px;
    padding: 10px;
    flex: 1 1 45%;
}
